<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= !restaurant?._id ? 'Add New Restaurant' : 'Modify Restaurant' %> | Foodie Admin</title>
   
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body>
    <%- include('../partials/navbar', { loginUser: loginUser }) %>

    <section>
        <div class="container-fluid">
            <div class="">
                <div class="row">
                    <div class="col-md-3">
                        <!-- sidebar -->
                        <%- include('../partials/sidebar') %>
                    </div>
                    <div class="col-md-9 ">
                        <div class="adminPanel card">
                            <div class="text-center my-1">
                                <h4><span class="primary-color">FOODIES</span> <%= !restaurant?._id ? 'Add New Restaurant' : 'Modify Restaurant' %> </h4>
                            </div>
                            <div class="mb-4 mt-2 mx-2">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2 shadow">
                                        <form action="<%= restaurant && restaurant._id ? '/admin/restaurants/update/' + restaurant._id : '/admin/restaurants/save' %>" method="POST" enctype="multipart/form-data">
                                            <div class="form-group mb-2">
                                              <label for="name">Name</label>
                                              <input type="text" class="form-control" id="name" name="name" value="<%= restaurant?.name %>" >
                                                <% if (errors && errors.name) { %>
                                                    <span style="color: red;"><%= errors.name[0] %></span>
                                                <% } %>
                                            </div>
                                            <div class="form-group mb-2">
                                              <label for="location">Location</label>
                                              <input type="text" class="form-control" id="location" name="location" value="<%= restaurant?.location %>" >
                                                <% if (errors && errors.location) { %>
                                                    <span style="color: red;"><%= errors.location[0] %></span>
                                                <% } %>
                                            </div>
                                            <div class="form-group mb-2">
                                                <label for="email">Email Address</label>
                                                <input type="text" class="form-control" id="email" name="email" value="<%= restaurant?.email %>" >
                                                <% if (errors && errors.email) { %>
                                                  <span style="color: red;"><%= errors.email[0] %></span>
                                              <% } %>
                                            </div>
                                            <div class="form-group mb-2">
                                              <label for="contact">Contact</label>
                                              <input type="text" class="form-control" id="contact" name="contact" value="<%= restaurant?.contact %>" >
                                                <% if (errors && errors.contact) { %>
                                                    <span style="color: red;"><%= errors.contact[0] %></span>
                                                <% } %>
                                            </div>
                                            <div class="form-group mb-2">
                                                <label for="profileImage">Photo</label>
                                                <input type="file" class="form-control-file form-control" id="profileImage" name="profileImage">
                                            </div>
                                            <div class="form-group mb-2">
                                                <label for="cuisine">Cuisine</label>
                                                <select class="form-control" id="cuisine" name="cuisine">
                                                    <option value="">Select Cuisine</option>
                                                    <option value="italian" <%= restaurant?.cuisine.toLowerCase() == 'italian' ? 'selected' : '' %>>Italian</option>
                                                    <option value="chinese" <%= restaurant?.cuisine.toLowerCase() == 'chinese' ? 'selected' : '' %> >Chinese</option>
                                                    <option value="japanese" <%= restaurant?.cuisine.toLowerCase() == 'japanese' ? 'selected' : '' %> >Japanese</option>
                                                    <option value="indian" <%= restaurant?.cuisine.toLowerCase() == 'indian' ? 'selected' : '' %> >Indian</option>
                                                    <option value="mexican" <%= restaurant?.cuisine.toLowerCase() == 'mexican' ? 'selected' : '' %> >Mexican</option>
                                                    <option value="french" <%= restaurant?.cuisine.toLowerCase() == 'french' ? 'selected' : '' %> >French</option>
                                                    <option value="thai" <%= restaurant?.cuisine.toLowerCase() == 'thai' ? 'selected' : '' %> >Thai</option>
                                                    <option value="spanish" <%= restaurant?.cuisine.toLowerCase() == 'spanish' ? 'selected' : '' %> >Spanish</option>
                                                    <option value="greek" <%= restaurant?.cuisine.toLowerCase() == 'greek' ? 'selected' : '' %> >Greek</option>
                                                    <option value="mediterranean" <%= restaurant?.cuisine.toLowerCase() == 'mediterranean' ? 'selected' : '' %> >Mediterranean</option>
                                                    <option value="vietnamese" <%= restaurant?.cuisine.toLowerCase() == 'vietnamese' ? 'selected' : '' %> >Vietnamese</option>
                                                    <option value="korean" <%= restaurant?.cuisine.toLowerCase() == 'korean' ? 'selected' : '' %> >Korean</option>
                                                    <option value="brazilian" <%= restaurant?.cuisine.toLowerCase() == 'brazilian' ? 'selected' : '' %> >Brazilian</option>
                                                    <option value="turkish" <%= restaurant?.cuisine.toLowerCase() == 'turkish' ? 'selected' : '' %> >Turkish</option>
                                                </select>
                                                <% if (errors && errors.cuisine) { %>
                                                    <span style="color: red;"><%= errors.cuisine[0] %></span>
                                                <% } %>
                                              </div>
                                            <div class="form-group mb-2">
                                                <label for="openingHours">Opening hours</label>
                                                <input type="text" class="form-control" id="openingHours" name="openingHours" value="<%= restaurant?.openingHours %>" >
                                                <% if (errors && errors.openingHours) { %>
                                                    <span style="color: red;"><%= errors.openingHours[0] %></span>
                                                <% } %>
                                            </div>
                                            <div class="form-group mb-2">
                                                <label for="description">Description</label>
                                                <textarea rows="5" name="description" id="description" class="form-control"><%= restaurant?.description %></textarea>
                                                <% if (errors && errors.description) { %>
                                                    <span style="color: red;"><%= errors.description[0] %></span>
                                                <% } %>
                                            </div>
                                            <div class="form-group mb-2">
                                                <label for="dishIds">Dishes</label> 
                                                <select class="select2 form-control" name="dishIds" multiple>
                                                    <% dishes.forEach(dish => { %>
                                                        <option value="<%= dish._id %>" <%= restaurant?.dishIds && restaurant?.dishIds.indexOf(dish._id) != -1 ? 'selected' : '' %>><%= dish.dname %></option>
                                                    <% }) %>  
                                                </select>   
                                                <% if (errors && errors.dishIds) { %>
                                                    <span style="color: red;"><%= errors.dishIds[0] %></span>
                                                <% } %>                                         
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
     $(document).ready(function() {
        $('.select2').select2();
    });
</script>
</html>
<!-- {{#if save}}
<script>
    Swal.fire({
        title: 'New Dish Added!',
        text: 'Dish is added to outr menu card...',
        icon: 'success',
        confirmButtonText: 'OK'
    })
</script>
{{/if}}

{{#if notsave}}
<script>
    Swal.fire({
        title: 'Something is wrong!',
        text: 'Please fill the important information. dish is not save to our menu card...',
        icon: 'error',
        confirmButtonText: 'Cancel'
    })
</script>
{{/if}} -->