<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dishes | Foodie Admin</title>
    <style>
        .user-image img {
            width: 50px;
            display: inline-block;
            border-radius: 50%;
            height: 50px;
        }
    </style>
</head>

<body>
    <%- include('../partials/navbar', { loginUser: loginUser }) %>

    <section>
        <div class="container-fluid">
            <div class="">
                <div class="row">
                    <div class="col-md-3">
                        <!-- sidebar -->
                        <%- include('../partials/sidebar') %>
                    </div>
                    <div class="col-md-9">
                        <div class="adminPanel card">
                            <div class="text-center my-1">
                                <h4><span class="primary-color">FOODIES</span> Dishes </h4>
                            </div>
                            
                            <a href="/admin/dishes/add" class="btn btn-sm btn-warning col-2 offset-9">Add new dish</a>

                            <table class="table table-hover table-striped px-md-2">
                                <thead>
                                    <td></td>
                                    <td width="20%">Name</td>
                                    <td width="20%"></td>
                                    <td width="20%"></td>
                                    <td>Description</td>
                                    <td>Action</td>
                                </thead>
                                <tbody>
                                    <% data.forEach(dish => { %>
                                        <tr>
                                            <td>
                                                <% if(dish.photo) { %>
                                                    <span class="user-image"><img src="<%= dish.photo %>" /> </span>
                                                <% } else { %>
                                                    <span class="d-inline-block user-image-default" style="width: 50px;"></span>
                                                <% }%>
                                            </td>
                                            <td>
                                                <span class="text-muted">Name: </span><%= dish.dname %><br/>
                                                <span class="text-muted">Type: </span><%= dish.dtype %>
                                            </td>
                                            <td>
                                                <span class="text-muted">Price: </span>$&nbsp;<%= dish.dprice?.toFixed(2) %><br/>
                                                <span class="text-muted">Prep Time: </span><%= dish.dtime %>&nbsp;Minutes
                                            </td>
                                            <td>
                                                <span class="text-muted">Discount: </span><%= dish.ddiscount %>&nbsp;%<br/>
                                                <span class="text-muted">Serving Quantity: </span> <%= dish.dserve %>
                                            </td>
                                            <td>
                                                <%= dish.discription %>
                                            </td>
                                            <td> 
                                                <a href="/admin/dishes/edit/<%= dish._id %>" class="btn btn-sm btn-warning">Edit</a>
                                                <button onclick="deleteUser('<%= dish._id %>')"
                                                    class="btn btn-sm btn-danger">Remove</button>
                                            </td>
                                        </tr>
                                    <% }) %>                                    
                                </tbody>
                            </table>

                        </div>

                        <nav aria-label="Page navigation example" class="mt-3 mb-5">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <a class="page-link <%= currentPage > 1 ? '' : 'disabled' %>"
                                        href="/admin/dishes/<%= currentPage > 1 ? currentPage - 1 : '#' %>"
                                        aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <% for (let i = 1; i <= count; i++) { %>
                                    <li class="page-item <%= i == currentPage ? 'active' : '' %>">
                                        <a class="page-link" href="/admin/dishes/<%= i %>"><%= i %></a>
                                    </li>
                                <% } %>
                                <li class="page-item">
                                    <a class="page-link <%= currentPage < count ? '' : 'disabled' %>"
                                        href="/admin/dishes/<%= currentPage < count ? parseInt(currentPage) + 1 : '#' %>"
                                        aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
<script>
    
    function deleteUser(id) {
        Swal.fire({
            title: 'Are you sure delete the user ?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Yes',
            denyButtonText: 'No',
            customClass: {
                actions: 'my-actions',
                cancelButton: 'order-1 right-gap',
                confirmButton: 'order-2',
                denyButton: 'order-3',
            }
        }).then((result) => {
            if (result.isConfirmed) {
                location.assign("http://localhost:3000/admin/dishes/delete/" + id)
            } else if (result.isDenied) {
                Swal.fire('Delete process cancel..', '', 'info')
            }
        })
    }

</script>
</html>